:root {
  --main-color: #8D5ED3;
  --second-color: #E09DFF;
}

body {
    overflow: hidden;
}

.main-container {
    display: flex;
    height: 98vh;
}

.rubrics-menu {
    position: relative;
    width: 35vw;
}

.content-box {
    display: flex;
    margin-top: 0;
    margin-left: 1vw;
}

.questions-menu {
    width: 25vw;
    max-height: 86.7vh;
}

.items-container {
    border: 2px solid var(--main-color);
    max-height: 100%;
    overflow: auto;
}

.details {
    width: 46vw;
    height: 88.7vh;
    margin-left: 1.3vw;
}

.data {
    border: 2px solid var(--main-color);
    font-size: 1.1vw;
    padding: 10px;
    overflow: auto;
    word-break: break-word;
    max-height: 58.7vh;
}

.main-title {
    position: relative;
    font-size: 2.1vh;
    width: 90%;
    border: 2px solid var(--main-color);
    margin: 5px;
    padding: 8px;
    transition: 0.2s;
}

#category-title {
    display: flex;
    position: relative;
}

#direction {
    display: flex;
    position: relative;
}

#direction-box-1, #direction-box-2 {
    display: flex;
    width: 40%;
    text-align: center;
    padding-bottom: 1px;
}

.forward-title {
    width: 50%;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.title-mini {
    font-size: 1vw;
    width: 9vw;
    height: 0;
    color: white;
    text-align: center;
    border-bottom: 2.5vh solid var(--main-color);
}

#description-box {
    margin-top: 3vh;
}

#description {
    font-size: 1.5vw;
}

#title-description {
    font-size: 1vw;
    width: 10vw;
    height: 0;
    color: white;
    text-align: center;
    border-bottom: 2.5vh solid var(--main-color);
}

#details-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.details-item-box {
    width: 20vw;
    margin-right: 3vw;
    margin-top: 3vh;
}

.details-item {
    font-size: 1.3vw;
    width: 19vw;
    padding: 0.5vw;
    margin-right: 50px;
    border: 2px solid var(--main-color);
}

.main-title:hover {
    cursor: pointer;
    margin-left: 1.2vw;
    transition: 0.2s;
    color: white;
    background-color: var(--main-color);
}

.select {
    color: white;
    background-color: var(--main-color);
}

.select-direction {
    color: white;
    background-color: var(--main-color) !important;
}

.select-right {
    margin-left: 1.2vw;
    color: white;
    background-color: var(--main-color);
}

.select-item {
    color: white;
    background-color: var(--main-color);
}

a {
  text-decoration: none;
  color: black;
}

.map-img,
.route-img {
    height: 15vw;
    object-fit: scale-down;
    margin-right: 1vw;
    border: 2px solid var(--main-color);
}

.map-img:hover,
.route-img:hover {
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.popup img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.crossed-out {
  text-decoration: line-through;
}

#route-forward-1,
#route-forward-2,
#route-forward-3,
#route-back-1,
#route-back-2,
#route-back-3 {
    border: 2px solid var(--main-color);
    font-size: 1.5vw;
    background-color: var(--second-color);
    color: white;
    padding: 8px 20px 5px;
    margin-left: 7px;
}

#route-forward-1:hover,
#route-forward-2:hover,
#route-forward-3:hover,
#route-back-1:hover,
#route-back-2:hover,
#route-back-3:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: black;
    cursor: pointer;
    padding: 6px 20px;
    margin-left: 7px;
}

.distance {
    content: "";
    position: absolute;
    left: 85%;
    top: 0%;
    display: block;
    height: 100%;
    width: 15%;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    line-height: 170%;
}

.distance {

}

.counter {
    content: "";
    position: absolute;
    left: 77%;
    top: 0%;
    display: block;
    height: 100%;
    width: 7%;
    background-color: var(--second-color);
    color: white;
    text-align: center;
    line-height: 170%;
}

.background-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 10%;
}

.minicar-img {
    width: 35%;
    position: absolute;
    left: 57%;
    top: 2%;
    z-index: 10;
    background-color: transparent !important;
}

.minicar-img:hover {
    cursor: pointer;
}

#description {
    max-height: 300px;
    width: 91%;
}

/* меню с иконками */
#menu-1,
#menu-2,
#menu-3 {
    position: fixed;
    max-width: 100px;
    max-height: 100px;
}

#menu-1:hover,
#menu-2:hover,
#menu-3:hover {
    cursor: pointer;
    scale: 1.05;
}

#menu-1 {
    top: 20px;
    right: 20px;
}

#menu-2 {
    top: 145px;
    right: 20px;
}

#menu-3 {
    top: 270px;
    right: 20px;
}

/* попап с меню */
#menu-iframe {
    width: 100%;
    height: 100%;
}

.settings-menu-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 58%;
    transform: translate(-50%, -50%);
    background-color: var(--second-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-item {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    margin: 10px 30px 0;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    /*border-radius: 50px;*/
}

.menu-item p {
    margin-left: 30px;
}

.first-menu-option {
    margin-top: 25px;
}

.last-menu-option {
    margin-bottom: 25px;
}

.right {
    margin-right: 30px;
}

#save-settings {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: -12%;
    right: 0%;
    font-size: 17px;
    border-radius: 10px;
}

#videoPlayer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.reference-menu-popup {
    position: fixed;
    overflow: auto;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 58%;
    transform: translate(-50%, -50%);
    background-color: var(--second-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.reference-inner {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px 30px 0;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.reference {
    padding: 10px;
}

.reference-title {
    width: 15vw;
    color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: #9d75d9;
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px); /* сдвиг кнопки вниз при нажатии */
    box-shadow: none; /* удаление тени при нажатии */
}

.title-1 {
    width: 17vw;
}

.title-2 {
    width: 13vw;
}

.title-3 {
    width: 13vw;
}

.title-4 {
    width: 8vw;
}

.title-5 {
    width: 4vw;
}

.title-6 {
    width: 11vw;
}

.title-7 {
    width: 7vw;
}

.title-8 {
    width: 11vw;
}

.description-item {
    margin-bottom: 30px;
}
